<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>

  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=DESKTOP-910AJDE,1433\MSSQLSERVER;Initial Catalog=Warehouse;Persist Security Info=True;User ID=sa;Password=631336"/>
    <add name="AccessConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Users\Tindoc\Documents\Project\Warehouse\Warehouse_Desktop\Warehouse\AccessDB.mdb"/>
  </connectionStrings>
</configuration>
